body {
 	font-family: Arial, sans-serif; 
} 
@keyframes fadeIn {
 	from { opacity: 0; }
 	to { opacity: 1; } 
} 
.fade-in {
 	animation: fadeIn .3s; 
} 
.header {
 	background-color: transparent;
 	color: black;
 	padding: 0px 0px;
 	margin: auto;
 	margin-left: 10%;
 	margin-right: 10%; 	margin-top: 20px; 	display: flex; 	border-radius: 100px; 	position: fixed; /* 将元素固定在视口顶部 */ 	top: 0; /* 确保元素紧贴视口顶部 */ 	z-index: 600; /* 确保元素覆盖在页面内容之上 */ 	width: 80%; 	backdrop-filter: blur(5px); }	 .navbar { 	padding-left: 0px !important; 	margin: 0px; } .navbar li { 	display: inline-flex; 	transition: .3s; 	padding: 10px; 	margin-left: 10px; 	margin-right: 10px; 	border-radius: 40px; 	color: black; 	background: transparent; } .navbar li:hover { 	transition: .3s; 	background: #2b69dc; 	color: white; 	padding-left: 20px; 	padding-right: 20px; 	margin-left: 0px; 	margin-right: 0px; } @media (max-width: 560px) { 	.navitem { 		display: none; /* 隐藏 Tag 和 About */ 	} } .container { 	margin-top: 60px !important; 	width: 80%; 	margin: auto; 	padding: 20px; } #back-to-top { position: fixed; bottom: 20px; /* 距离底部 20px */ right: 10%; z-index: 1000; /* 确保按钮在其他内容之上 */ cursor: pointer; /* 鼠标悬停时显示指针 */ padding: 6px 14px;	 background-color: #cbdae7; color: #116dbf; border: none; border-radius: 40px; font-size: 24px; transition: background-color 0.3s; /* 平滑过渡背景颜色变化 */ } #back-to-top:hover { color: white; background-color: #116dbf; /* 鼠标悬停时的背景颜色 */ transition: background-color 0.3s; /* 平滑过渡背景颜色变化 */ }